@media (min-width: 768px) {

    .frontSide,
    .backSide {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;
        color: white;
        font-weight: 700;
    }

    .frontSide-JS,
    .frontSide-JS::before {
        background-image: url("logo/JavaScript.png");
    }

    .frontSide-HTML,
    .frontSide-HTML::before {
        background-image: url("logo/html.png");
    }

    .frontSide-CSS,
    .frontSide-CSS::before {
        background-image: url("logo/css.png");
    }

    .frontSide-NODE,
    .frontSide-NODE::before {
        background-image: url("logo/node.png");
    }

    .frontSide-REACT,
    .frontSide-REACT::before {
        background-image: url("logo/reactjs.png");
    }

    .frontSide-SHOPIFY,
    .frontSide-SHOPIFY::before {
        background-image: url("logo/shopify.jpg");
    }

    .frontSide-FIRE,
    .frontSide-FIRE::before {
        background-image: url("logo/firebase.png");
    }

    .frontSide-JSON,
    .frontSide-JSON::before {
        background-image: url("logo/JSON.jpeg");
    }

    .frontSide-EXP,
    .frontSide-EXP {
        background-image: url("logo/exp.jpg");
    }

    .frontSide-DJ,
    .frontSide-DJ {
        background-image: url("logo/django.jpg");
    }

    .frontSide-REDUX,
    .frontSide-REDUX {
        background-image: url(" logo/redux.png");
    }

    .frontSide-WORD,
    .frontSide-WORD {
        background-image: url(" logo/WordPress.png");
    }

    .frontSide-BT,
    .frontSide-BT {
        background-image: url(" logo/bootstrap.png");
    }

    .frontSide-TMDB,
    .frontSide-TMDB {
        background-image: url(" logo/tmdb.jpg");
    }

    .frontSide-Tail,
    .frontSide-Tail {
        background-image: url(" logo/tailwind.png");
    }

    .frontSide-SASS,
    .frontSide-SASS {
        background-image: url(" logo/sass.png");
    }

    .frontSide-OWL,
    .frontSide-OWL {
        background-image: url(" logo1/owl.png");
    }

    .frontSide-Jquery,
    .frontSide-Jquery {
        background-image: url(" logo1/jquery.jpg");
    }

    .frontSide-FA,
    .frontSide-FA {
        background-image: url(" logo1/Font.jpg");
    }


    .backSide,
    .backSide::before {
        background-image: linear-gradient(160deg, #918f98 0%, #484454 100%);
    }

    .backSide {
        transform: rotateY(180deg);
    }

    .frontSide::before,
    .backSide::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 110%;
        height: 110%;
        position: absolute;
        z-index: -1;
        border-radius: 1em;

    }

    @keyframes animate {
        0% {
            opacity: 0.3;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0.3;
        }
    }
}

@media (max-width: 768px) {
    .backSide {
        visibility: hidden;
    }

    .frontSide-JS {
        background-image: url(" logo1/javascript.png");
    }

    .frontSide,
    .backSide {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        color: white;
        box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
        font-weight: 0;
    }


    .frontSide-HTML,
    .frontSide-HTML::before {
        background-image: url(" logo1/html.png");
    }

    .frontSide-CSS,
    .frontSide-CSS::before {
        background-image: url(" logo1/css.png");
    }

    .frontSide-NODE,
    .frontSide-NODE::before {
        background-image: url(" logo1/node.png");
    }

    .frontSide-REACT,
    .frontSide-REACT::before {
        background-image: url(" logo1/reactjs.png");
    }

    .frontSide-SHOPIFY,
    .frontSide-SHOPIFY::before {
        background-image: url(" logo1/shopify.jpg");
    }

    .frontSide-FIRE,
    .frontSide-FIRE::before {
        background-image: url(" logo1/firebase.png");
    }

    .frontSide-JSON,
    .frontSide-JSON::before {
        background-image: url(" logo1/JSON.jpeg");
    }

    .frontSide-EXP,
    .frontSide-EXP {
        background-image: url(" logo1/exp.jpg");
    }

    .frontSide-DJ,
    .frontSide-DJ {
        background-image: url(" logo1/django.jpg");
    }

    .frontSide-REDUX,
    .frontSide-REDUX {
        background-image: url(" logo1/redux.png");
    }

    .frontSide-WORD,
    .frontSide-WORD {
        background-image: url(" logo1/WordPress.png");
    }

    .frontSide-BT,
    .frontSide-BT {
        background-image: url(" logo1/bootstrap.png");
    }

    .frontSide-TMDB,
    .frontSide-TMDB {
        background-image: url(" logo1/tmdb.jpg");
    }

    .frontSide-Tail,
    .frontSide-Tail {
        background-image: url(" logo1/tailwind.png");
    }

    .frontSide-SASS,
    .frontSide-SASS {
        background-image: url(" logo1/sass.png");
    }

    .frontSide-OWL,
    .frontSide-OWL {
        background-image: url(" logo1/owl.png");
    }

    .frontSide-Jquery,
    .frontSide-Jquery {
        background-image: url(" logo1/jquery.jpg");
    }

    .frontSide-FA,
    .frontSide-FA {
        background-image: url(" logo1/Font.jpg");
    }


}
@media (min-width: 768px) {

    .myCard {
      background-color: transparent;
      width: 250px;
      height: 300px;
      perspective: 1000px;
    }
  
    .title {
      font-size: 1.5em;
      font-weight: 900;
      color: #ffffff;
      text-align: center;
      margin: 0;
    }
  
    .text {
      color: #ffffff;
  
    }
  
    .innerCard {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      cursor: pointer;
    }
  
    .myCard:hover .innerCard {
      transform: rotateY(180deg);
    }
  
  }
  
  @media (max-width: 768px) {
    .backSide {
      visibility: hidden;
    }
  
    .myCard {
      background-color: transparent;
      width: 125px;
      height: 150px;
      perspective: 1000px;
    }
  
    .title {
      font-size: 1.5em;
      font-weight: 900;
      color: #ffffff;
      text-align: center;
      margin: 0;
    }
  
    .innerCard {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      cursor: pointer;
    }
  
  }
  
  
  
  